:root{
    --fontcolor: #fff;
    --secondcolor: #ff0000;
}

*{
    margin: 0;
}
body {
    font-family: 'Nunito Sans', sans-serif;
}

.content{
    background-image: url(../carsharing/zdj/Image.jpg);
    background-size: cover;
    min-height: calc(100vh - 35px);
    color: var(--fontcolor);
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

.content::before{
    content: "";
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
    bottom:0;
    left:0;
}

.menu{
    background-color: #00000066;
    display: flex;
    text-align: center;
    justify-content: space-around;
    border: 2px solid #FFFFFF33;
    position: relative;
}

h1 p{
    color: var(--secondcolor);
    padding-right: 5px;
}

.menu h1{ 
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 35px;
    font-weight: 900;
}

.menu ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}

.menu li{
    font-size: 16px;
    padding: 40px 20px;
    cursor: pointer;
    width: 10vw;
    border: 1px solid transparent;
    font-weight: 600;
}

.menu li:hover{
    background: rgba(255,255,255, 0.2);
    border: 1px solid #FFFFFF33;
}

.main{
    position: relative;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 400;
    width: 80vw;
    margin: auto;
}

.main h2{
    font-size: 90px;
    font-weight: 900;
}

.btnl{
    background-color: var(--secondcolor);
    color: var(--fontcolor);
}

.btnr{
    color: var(--secondcolor)
}
.btnl, .btnr{
    border-radius: 60px;
    padding: 25px 60px;
    cursor: pointer;
    border: 0;
    font-weight: 600;
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    width: 600px;
}

#circle{
   height: 70px;
   width: 70px;
   border-radius: 50%;
   background-color: var(--secondcolor);
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   left: 50%;
   bottom: 0;
   transform: translate(-50%, 50%);
}

.blog{
    display: flex;
    align-items: center;
    padding: 30px 0;
    max-width: 300px;
    margin: 20px auto;
}

.blog h1 {
    margin: 0 10px;
}

.blog::before, .blog::after{
    content: "";
    background-color: var(--secondcolor);
    height: 3px;
    width: 50px;
    display: block;
    width: 100%;
}

.blogphoto{
    display: flex;
    justify-content: space-evenly;
}

.blogsection{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 40px;
}

.blogdiv{
    width: 352px;
    text-align: center;
}

.readmore{
    border-radius: 60px;
    padding: 15px 40px;
    cursor: pointer;
    border: 0;
    font-weight: 600;
    color: var(--fontcolor);
    background-color: var(--secondcolor);
}

.servicecontainer{
    background-color: #28272C;
    width: 100%;
    height: 800px;
}

.service{
    color: var(--fontcolor);
}

.servicephoto{
    display: flex;
    justify-content: space-evenly;
}

.servicetxt{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 40px;
    color: var(--fontcolor);
    text-align: center;
}

.servicediv{
    width: 210px;
}

.contact{
    background-color: white;
}

.contacttxt{
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 317px;
    width: 80vw;
    margin: auto;
}

.contactphoto{
    margin: auto;
}

.inputs{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}
.input{
    border: none;
    width: 80%;
    height: 70px;
}

